var colorSet = <<colorSet>>;

window.monteSchemes = {};

for (var key in colorSet) {
  if (colorSet.hasOwnProperty(key) && monte.tools.isArray(colorSet[key])) {
    monteSchemes[key] = [];

    colorSet[key].forEach(function(c) {
      var matches = c.match(/^\$(.+)/);

      if (matches && matches[1]) {
         monteSchemes[key].push(colorSet[matches[1]]);
      }
    });
  }
}
