var colorSet = <<colorSet>>;

window.MonteSchemes = {};

for (var key in colorSet) {
  if (colorSet.hasOwnProperty(key) && Monte.tools.isArray(colorSet[key])) {
    MonteSchemes[key] = [];

    colorSet[key].forEach(function(c) {
      var matches = c.match(/^\$(.+)/);

      if (matches && matches[1]) {
         MonteSchemes[key].push(colorSet[matches[1]]);
      }
    });
  }
}
