$montePrimary: #19aeff;
$monteSecondary: #005c94;
$monteAlt: #292930;
$monteAccent: #F06449;
$monteAccent2: #443742;
// #483D3F

$header: $monteAlt;
$headerText: $monteSecondary; // rgba(25,174,255, 0.65);
$bg: #fff;
$footer: #f0f0f0;
$codeGrey: #e8e8ef;
